{%extends 'cabecera.html'%}
{% load static %}
{%block cabecera%}
<body>
    <div>
        <div>
            <a href="{%url 'retirar_caja' 0  %}">
                <button class="retirar-dinero">
                    Retirar dinero
                </button}>
            </a>
            <a>
                <form class="abrir-caja-input"  action="{% url 'cerrar_caja' caja_actual %}" id="formCliente" method="POST" style="visibility: hidden;">  
                            {% csrf_token %} 
                            <input style="display: none;" name="nombredelusuario" value="{{nombre_completo}}">
                            <input  type="text" class="clienteptex" name="entrada_caja" value="{{datos_act.entrada_caja}}" style="display: none;"> 
                            {% for lista in listausuario %}
                            <input value="{{lista.cod_usuario}}" {% if lista.cod_usuario == datos_act.nombre_usuario_id%} {{lista.nombre_usuario}} {% endif %} style="visibility: hidden;">
                            </input>
                            {% endfor %}
                            
                            <input type="text" class="form-control" id="formGroupExampleInput2" name="total_caja" value="{{datos_act.total_caja}}"style="display: none;">
                            <input type="date" id="fechaActual" name="fecha_caja" value="{{datos_act.fecha_caja}}" style="display: none;">
                            <input type="text" id="currentTime"  name="hora_caja" value="{{datos_act.hora_caja}}" style="display: none;">
                            <input style="display: none;" name="tipo_mov" value="3" type="number">
                        <button class="cerrar-caja" onclick="checker()" onfocusout="suma(this)" type="submit" > 
                            cerrar caja
                        </button>
                </form>
            </a>
            
     
          
            <a href="{%url 'abrir_caja' 0 %}">
                <button class="apertura-caja" >
                    apertura de caja
                    </button}>
            </a>

        </div>
        
       
        <div class="card-body" style="overflow-y:auto;">

            <table class="table table-striped dataTable-table" id="tabla" style="width:100%">
                <thead>
                    <tr>
                        <th data-sortable="" style="width: 23.2012%;"><a href="#" class="dataTable-sorter">Usuario</a>
                        </th>
                        <th data-sortable="" style="width: 23.2012%;"><a href="#" class="dataTable-sorter">Fecha</a>
                        </th>
                        <th data-sortable="" style="width: 23.2012%;"><a href="#" class="dataTable-sorter">Hora</a></th>

                        <th data-sortable="" style="width: 23.2012%;"><a href="#" class="dataTable-sorter">Motivo</a>
                        </th>
                        <th data-sortable="" style="width: 23.2012%;"><a href="#" class="dataTable-sorter">tipo de mov.</a>
                        </th>
                        <th data-sortable="" style="width: 23.2012%;"><a href="#" class="dataTable-sorter">Entrada</a>
                        </th>
                        <th data-sortable="" style="width: 23.2012%;"><a href="#" class="dataTable-sorter">Salida</a>
                        </th>
                       
                    </tr>
                </thead>
                {%for lista in listatabla %}
                    <tr>
                        
                        {%for usuario in listausuario %}
                        {%if usuario.cod_usuario == lista.nombre_usuario_id%}
                        <td>{{usuario.nombre_usuario}}</td>
                        {%endif%}
                        {%endfor%}
                        <td>{{lista.fecha_caja}}</td>
                        <td>{{lista.hora_caja}}</td>
                        {% if lista.motivo_caja == null %}
                        <td>--------</td>
                        {% else %}
                        <td>{{lista.motivo_caja}}</td>
                        {% endif %}
                        {%if lista.tipo_mov == 1 %}<td>Retirar</td>{% endif %} 
                        {%if lista.tipo_mov == 2 %}<td>Apertura</td>{% endif %}
                        {%if lista.tipo_mov == 3 %}<td>cierre</td>{% endif %}
                        {% if lista.entrada_caja == null %}
                        <td>--------</td>
                        {% else %}
                        <td>{{lista.entrada_caja}}</td>
                        {% endif %}
                        {% if lista.salida_caja == null %}
                        <td>-------</td>
                        {% else %}
                        <td>{{lista.salida_caja}}</td>
                        {% endif %}
                    </tr> 

                {%endfor%} 
                           
               
            </table>


        </div>
        <div>
            <label data-sortable="" style="width: 23.2012%;" id="total_caja" onfocusout="suma(this)">Total:</label>
        </div>  
    </div>
</body>
<script>
    window.onload = function () {
        var fecha = new Date(); //Fecha actual
        var mes = fecha.getMonth() + 1; //obteniendo mes
        var dia = fecha.getDate(); //obteniendo dia
        var ano = fecha.getFullYear(); //obteniendo año
        if (dia < 10)
            dia = '0' + dia; //agrega cero si el menor de 10
        if (mes < 10)
            mes = '0' + mes //agrega cero si el menor de 10
        document.getElementById('fechaActual').value = ano + "-" + mes + "-" + dia;
    } 
</script>
 
<script>
    var today = new Date();
    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    document.getElementById("currentTime").value = time;
</script>
<script>
    function checker() {
        var result = confirm('Estas seguro que quieres cerrar la caja?');
        if (result == false) {
            event.preventDefault();
        }
    }
</script>
<script>
    function suma(event){
        var total = 0
        var total_caja = document.getElementById("total_caja")
        {% for lista in listatabla %}
            if({{lista.entrada_caja}}){
                total+=parseInt("{{lista.entrada_caja}}")
            } else {
                total+=0
            }

            if({{lista.salida_caja}}){
                total-=parseInt("{{lista.salida_caja}}")
            } else {
                total-=0
            }
        {% endfor %}

        total_caja = total
        
    }
    suma()
</script>  

{%endblock%}