{%extends 'cabecera.html'%}
{% load static %}
{%block cabecera%}

    <div class="main-content container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Buscar Producto</h3>

                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header">
                        <ol class="breadcrumb">

                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="busqueda">
                    <div>
                        <label for="ingresar-nombre">Buscar producto </label>
                        <input type="text" class="clienteptex" id="buscar"> <!-- ID de "buscar" para realizar busqueda-->
                    </div>
                </div>
            
                    <div class="dataTable-container" style="overflow-y:auto;">
                        <table class="table table-striped dataTable-table" id="tabla">
                            <thead>
                                <tr>
                                    <th data-sortable="" style="width: 23.2012%;"><a href="#"
                                            class="dataTable-sorter">Nombre</a></th>
                                    <th data-sortable="" style="width: 23.2012%;"><a href="#"
                                            class="dataTable-sorter">Codigo</a></th>
                                    <th data-sortable="" style="width: 20.8988%;"><a href="#"
                                            class="dataTable-sorter">Precio/compra</a></th>
                                    <th data-sortable="" style="width: 26.7434%;"><a href="#"
                                            class="dataTable-sorter">Precio/Venta</a></th>
                                    <th data-sortable="" style="width: 22.1386%;"><a href="#"
                                            class="dataTable-sorter">categoria</a></th>
                                    <th data-sortable="" style="width: 22.1386%;"><a href="#"
                                            class="dataTable-sorter">cantidad</a>
                                </tr>
                            </thead>

                            {%for lista in listatabla%}

                            <tr>

                                <td>{{lista.nombre_productos}}</td>
                                <td>{{lista.codigo_productos}}</td>
                                <td>{{lista.preciocompra_productos}}</td>
                                <td>{{lista.precioventa_productos}}</td>

                                {% for categoria in listacategoria %}
                                {% if categoria.codigo_categoria == lista.categoria_productos %}
                                <td>{{categoria.nombre_categoria}}</td>
                                {% endif %}
                                {% endfor %}
                                <td>{{lista.cantidad_productos}}</td>
                                <td>
                                <th data-sortable=""><a href="{%url 'editproducto' lista.codigo_productos %}"
                                        class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                                        data-original-title="Edit user">

                                        <i class="fas fa-edit"></i>
                                    </a>
                                <th data-sortable=""><a onclick="checker()"
                                        href="{%url 'borrarproducto' lista.codigo_productos %}"
                                        
                                        class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                                        data-original-title="Delete user">
                                        

                                        <i class="fas fa-trash"></i>
                                    </a></td>





                            </tr>

                            {%endfor%}

                    </div>
            </div>
    </div>

    </section>
</div>

<footer>
    <div class="footer clearfix mb-0 text-muted">
        <a href="{%url 'editproducto' 0 %}">
            <button class="agregar_producto">
                Añadir Producto
            </button>
        </a>

    </div>
</footer>
</div>
</div>

</body>

</html>

<script>
    function checker() {
        var result = confirm('Estas seguro que quieres borrar este producto?');
        if (result == false) {
            event.preventDefault();
        }
    }
</script>
<script src="{% static 'assets/js/search.js' %}"></script> <!-- Script para busqueda-->

{%endblock%}