{%extends 'cabecera.html'%}
{% load static %}
{%block cabecera%}
<style>
    * {
        box-sizing: border-box;

    }

    .modal-container {
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        opacity: 0;
        pointer-events: none;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    .modal {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding: 30px 50px;
        width: 600px;
        max-width: 100%;
        text-align: center;
    }

    .modal-container.show {
        pointer-events: auto;
        opacity: 1;
    }

    .modal h1 {

        margin: 0;
    }
    .container-fluid-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: auto;
        grid-gap: 2em;
    }
</style>

<form>
    <div class="container">
        <div class="clientept">
            <div>
                <label for="ingresar-nombre">Cedula de cliente </label>
                <input type="text" class="clienteptex"  onfocusout="traerCliente(this)">
              
    
            </div>
            <div class="forma">
                <label><input type="checkbox" id="cbox1" value="first_checkbox"> Cliente casual</label>
    
            </div>
    
    
        </div>
        <div class="clientept">
            <label for="ingresar-nombre" id="nombre_cliente">Nombre del Cliente: </label>
    
        </div>
        <div class="busqueda">
            <div>
                <label for="ingresar-nombre">Buscar producto </label>
                <input type="text" class="clienteptex" id="buscar"> <!-- ID de "buscar" para realizar busqueda-->
            </div>
        </div>
            <div class="container-fluid-1">
                <div class="card-body" style="overflow-y:auto" >
    
                    <table class="table table-striped dataTable-table" id="tabla" |>
                        <!-- ID de "tabla" para realizar busqueda-->
                        <thead>
                            <tr>
                                <th><a href="#" class="dt">Nombre</a>
                                </th>
                                <th ><a href="#" class="dt">Precio</a>
                                </th>
                                <th><a href="#" class="dt">ingresar
                                        Cantidad</a></th>
                            </tr>
                        </thead>
        
        
                        {%for lista in listatabla%}
                        <tr>
                            <td style="display: none;">{{lista.codigo_productos}}</td>
                            <td>{{lista.nombre_productos}}</td>
                            <td>{{lista.precioventa_productos}}</td>
                            <td><input id="number" type="number" value="{{lista.cantidad_productos}}" max="{{lista.cantidad_productos}}" style="width: 3em;" onclick="if(this.value=='{{lista.cantidad_productos}}') this.value=''" onblur="if(this.value=='') this.value='{{lista.cantidad_productos}}'" ></td>
                            <th ><a href="{%url 'editproducto' lista.codigo_productos %}"
                                    class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                                    data-original-title="Edit user">
        
                                    Añadir al carro
                                </a>
        
        
        
        
        
        
                        </tr>
        
                        {%endfor%}
                    </table>
        
                </div>
                <div class="contenedorfactura">
        
                    <table class="table table-striped dataTable-table" id="table2" style="width:1%">
                        <thead>
        
                            <tr>
                                <th data-sortable="dataTable-sorter" style="width: 10%;"><a href="#" class="dt">Nombre</a>
                                </th>
                                <th data-sortable="dataTable-sorter" style="width: 10%;"><a href="#" class="dt">cantidad</a>
                                </th>
                                <th data-sortable="dataTable-sorter" style="width: 10%;"><a href="#" class="dt">subtotal</a>
                                </th>
                            </tr>
        
                        </thead>
                        <tbody>
                            <tr>
        
                            </tr>
                        </tbody>
                        <tr>
                            
                                
                            
                        </tr>
                        <th>
                            <br>
                            <a href="#" class="subtotal" style="margin-top: 1em;">Total a pagar : </a>
                        </th>
                    </table>
                    
                    
        
                    
        
                </div>
                <div></div>
                <div style="display: grid; grid-template-columns: 1fr 1fr; margin-top: 2em; margin-left:15em;">
                    <div><button class="Cancelar">
                        Cancelar
                    </button></div>
                    <div><button class="Vender">
                        Venderaaaaaaa
                    </button></div>
                </div>
                
            </div>
    </div>
    
</form>





</body>

</html>



<script>
    function traerCliente(event) { //event es el input donde se carga el valor
        var flag = false
        var nCliente = document.getElementById("nombre_cliente") //traigo el label que se va a modificar con el nombre del cliente
        {% for cliente in listacliente %}
            var ci_cliente = "{{cliente.codigo_cliente}}"   //se trae cedula del cliente

            if(event.value == ci_cliente) { //se compara si las cedulas de la base de datos coincide con el del input
                nCliente.innerHTML = "Nombre del Cliente: {{cliente.nombre_cliente}}"   //si coincide se carga el nombre al label
                flag = true
            }

            if(!flag) {
                nCliente.innerHTML = "Nombre del Cliente: No existe ese cliente"//si coincide se muestra el mensaje en el label
            }
        {% endfor %}

        if(event.value == '') { //si el input esta vacio el label se vaciara tambien
            nCliente.innerHTML = "Nombre del Cliente:  "
        }
    }
</script>
<script src="{% static 'assets/js/search.js' %}"></script> <!-- Script para busqueda-->

{%endblock%}