{%extends 'cabecera.html'%}
{% load static %}
{%block cabecera%}
    <form action="{% url 'editclientes' cliente_actual %}" method="POST">
        {% csrf_token %}
        <div class="forma">
            <label for="ingresar-nombre">Numero de cedula</label>
            <input type="text" class="form-control" id="formGroupExampleInput1" name="codigo_cliente" value="{{datos_act.codigo_cliente}}">
  

            <label for="ingresar-nombre">Nombre completo</label>
            <input type="text" class="form-control" id="formGroupExampleInput1" name="nombre_cliente" value="{{datos_act.nombre_cliente}}">


            <label for="ingresar-codigo">Número de telefono</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" name="telefonos_cliente" value="{{datos_act.telefono_cliente}}">

            <label for="ingresar-precio-compra">Direccion</label>
            <input type="text" class="form-control" id="formGroupExampleInput3" name="direccion_cliente" value="{{datos_act.direccion_cliente}}">

        </div>
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                
                    <button class="guardar-producto" onclick="return confirm('Estas seguro que quieres guardar este usuario');" type="submit">
                        Guardar cliente
                    </button>

            </div>
        </footer>
    </form>
    <div class="card-body">
        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
            <div class="dataTable-top">
                <div class="dataTable-dropdown">
                    <table class="table table-striped dataTable-table" id="table1">
                        <thead>
                            <tr>
                                <th data-sortable="" style="width: 23.2012%;"><a href="#"
                                    class="dataTable-sorter">Cedula</a></th>
                                <th data-sortable="" style="width: 23.2012%;"><a href="#"
                                        class="dataTable-sorter">Nombre</a></th>
                                <th data-sortable="" style="width: 23.2012%;"><a href="#"
                                        class="dataTable-sorter">telefono</a></th>
                                <th data-sortable="" style="width: 20.8988%;"><a href="#"
                                        class="dataTable-sorter">direccion</a>
                            </tr>
                        </thead>

                        {%for lista in listaclientes%}
                        <tr>

                            <td>{{lista.codigo_cliente}}</td>
                            <td>{{lista.nombre_cliente}}</td>
                            <td>{{lista.telefono_cliente}}</td>
                            <td>{{lista.direccion_cliente}}</td>

                            <td><th data-sortable="" style="width:11.125%;"><a href="{%url 'editclientes' lista.codigo_cliente%}"
                                    class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                                    data-original-title="Editar usuario">
                                    Editar
                                </a></td>
                            <td>
                                <th data-sortable="" style="width:10.125%;"><a onclick="return confirm('Estas seguro que quieres borrar este usuario');" href="{%url 'borrarcliente' lista.codigo_cliente %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete user">
                                            
                                    borrar
                                </a></td>
                            </td>    



                                
                        </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>
            </body>

            </html>

            {%endblock%}